{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block aboutpage %}active{% endblock aboutpage %}active
{% block main %}

<!-- ======= Hero Section ======= -->
{% comment %} <section id="hero" class="d-flex align-items-center" style="background-image: url('{% static 'img/hero-bg1.jpg' %}');">

    <div class="container" data-aos="zoom-out">
        < <div class="row">
            <div class="col-xl-3">

            </div>
            <div class="col-xl-6 text-center">
                
                <h1></h1>
                
            </div>
            <div class="col-xl-3">

            </div>
        </div>
    </div>

</section><!-- End Hero --> {% endcomment %}
<main id="main">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About The Fight Finder</h2>
                <p>As a company, we extend our "We Are All Fighters" brand maxim well beyond the Octagon. we bring that
                    fighting spirit to our CSR initiatives as we seek to build a testing legacy - both in home city of
                    Las vagas, and in every community we touch around the world. It takes courage to step into the
                    Octagon, and it takes courage to stand for your convictions. Our CSR program is encored by three
                    pillars that define what we fight for.

                </p>
                <p>As a company, we extend our "We Are All Fighters" brand maxim well beyond the Octagon. we bring that
                    fighting spirit to our CSR initiatives as we seek to build a testing legacy - both in home city of
                    Las vagas, and in every community we touch around the world. It takes courage to step into the
                    Octagon, and it takes courage to stand for your convictions. Our CSR program is encored by three
                    pillars that define what we fight for.

                </p>
                <p>As a company, we extend our "We Are All Fighters" brand maxim well beyond the Octagon. we bring that
                    fighting spirit to our CSR initiatives as we seek to build a testing legacy - both in home city of
                    Las vagas, and in every community we touch around the world. It takes courage to step into the
                    Octagon, and it takes courage to stand for your convictions. Our CSR program is encored by three
                    pillars that define what we fight for.

                </p>
                <p>As a company, we extend our "We Are All Fighters" brand maxim well beyond the Octagon. we bring that
                    fighting spirit to our CSR initiatives as we seek to build a testing legacy - both in home city of
                    Las vagas, and in every community we touch around the world. It takes courage to step into the
                    Octagon, and it takes courage to stand for your convictions. Our CSR program is encored by three
                    pillars that define what we fight for.

                </p>
            </div>


        </div>
    </section><!-- End Trending Section -->

</main><!-- End #main -->
{% endblock main %}