{% extends 'base.html' %}
{% load static %}
{% block title %}Serarch Events{% endblock title %}
{% block searchpage %}active{% endblock searchpage %}
{% block startscript %}
<style>
    #mapp {
        width: 100%;
        height: 45vh;
    }

    .btn-s:hover {
        background-color: #222ccd;
        box-shadow: 0px 15px 20px rgb(19 31 219 / 40%);
        color: #fff;
        transform: translateY(-7px);
    }

    .btn-s {
        background-color: #2f39b3;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
    }

    ._event_btn {
        margin-top: 10px;
    }

    ._event_box {
        margin-left: 10px;
    }

    .row_event {
        box-shadow: 0 0 30px rgb(214 215 216);
        padding: 10px;
        border-radius: 10px;
    }
</style>
{% endblock startscript %}


{% block main %}
<main id="main">
    <!-- ======= Tabs Section ======= -->




    <section id="map" class="map">
        <div class="container" data-aos="fade-up">
            <div id="s-box" class="search-box pb-2">
                <input type="text" id="pac-input" class="search-event controls" placeholder="Enter Your Location"
                    autocomplete="off">
                {% comment %} <a class="" onclick="searchevents();"><i class='bx bx-right-arrow-alt'></i></a>
                {% endcomment %}
            </div>
            <div id="mapp"></div>
            {% comment %} <div class="searchmap">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10165.219662327378!2d-73.98534476216145!3d40.7589919097705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25854af9f53f1%3A0xe72a0c97fe7d2986!2sMadame%20Tussauds%20New%20York!5e0!3m2!1sen!2s!4v1640083470266!5m2!1sen!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div> {% endcomment %}
        </div>
    </section>

    <section id="tabs" class="tabs pt-2">
        <div class="container" data-aos="fade-up">

            <ul class="nav nav-tabs  d-flex pb-2">
                <li class="nav-item  ">
                    <a class="tablink active show" data-bs-toggle="tab" data-bs-target="#tab-1">

                        <h4 class="d-lg-block">Upcoming</h4>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class=" tablink" data-bs-toggle="tab" data-bs-target="#tab-2">

                        <h4 class="d-lg-block ">Past</h4>
                    </a>
                </li>

            </ul>

            <div class="tab-content mt-2">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row row_event">
                        <div class="col-lg-6 d-flex">
                            <div class="col-lg-4">
                                <div class="_event_img">
                                    <img class="img-fluid" src="{% static 'img/blog/blog-recent-5.jpg' %}" alt="">
                                </div>

                            </div>
                            <div class="col-lg-8 d-flex align-items-center pl-2">
                                <div class="_event_box">

                                    <div class="_event_title">
                                        Event Title
                                    </div>
                                    <div class="_event_body">
                                        <div class="_event_content">
                                            <p><strong>Discription:</strong> This is discriptions</p>
                                            <p><strong>Location:</strong> This is Location</p>
                                        </div>
                                        <div class="_event_btn">
                                            <button class="btn-s">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% comment %} <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box">
                                        <img
                                            src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                        <a href="">
                                            <h3>Highlights</h3>
                                        </a>
                                        <p>Highlights: Chris Galess gets jaw</p>
                                        <p>dropping first win....</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                        {% endcomment %}





                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="row">



                        <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box ">
                                        <img
                                            src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                        <a href="">
                                            <h3>Results</h3>
                                        </a>
                                        <p>The Fight Finder 234: Usman Vs. Adam</p>
                                        <p>Fight Results</p>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info-box ">
                                        <img
                                            src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                        <a href="">
                                            <h3>Results</h3>
                                        </a>
                                        <p>The Fight Finder 234: Usman Vs. Adam</p>
                                        <p>Fight Results</p>
                                    </div>
                                </div>

                            </div>

                        </div>





                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Tabs Section -->



</main><!-- End #main -->
{% endblock main %}

{% block endscript %}


<script>
    var zoomlevel = 8;

    function initMap() {
        var option = {
            zoom: zoomlevel,
            center: {
                lat: 36.16375,
                lng: -115.18447
            },
        }
        // The location of Uluru
        const uluru = {
            cords: {
                lat: -33.8688,
                lng: 151.2093
            }
        };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("mapp"), option);
        var event_m = {{events | safe}};
        var event_markers = [{
                cords: {
                    lat: -33.8688,
                    lng: 151.2093
                }
            },
            {

                cords: {
                    lat: -33.8698,
                    lng: 151.2083
                }
            }
        ];

        for (var i = 0; i < event_m.length; i++) {
            //console.log(event_m[i].cords);
            addMarker(event_m[i]);
        }


        // The marker, positioned at Uluru
        function addMarker(props) {
            const marker = new google.maps.Marker({
                position: props.cords,
                map: map,
                title: props.title,

                //icon: props.icon,

                //icon:''
            });
            marker.addListener('click', function (event) {
                map.setZoom(18);
                map.setCenter(marker.getPosition());
                infoWindow.open(map, marker);
            });
            var infoWindow = new google.maps.InfoWindow({
                content: `
                <div>
                    <h5>${ props.title}</h5>
                    <p>${props.title}</p>
                    <a href="/" class="info_link">View on Google.com</a>
                </div>`
            });
        }




        //search block
        const input = document.getElementById("pac-input");
        const searchBox = new google.maps.places.SearchBox(input);



        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener("bounds_changed", () => {
            searchBox.setBounds(map.getBounds());
        });

        let markers = [];

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener("places_changed", () => {
            const places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach((marker) => {
                marker.setMap(null);

            });
            markers = [];

            // For each place, get the icon, name and location.
            const bounds = new google.maps.LatLngBounds();

            places.forEach((place) => {
                if (!place.geometry || !place.geometry.location) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                const icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25),
                };

                // Create a marker for each place.
                markers.push(
                    new google.maps.Marker({
                        map,
                        icon,
                        title: place.name,
                        position: place.geometry.location,
                    })
                );
                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });



    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap&libraries=places&v=weekly" async>

</script>



{% endblock endscript %}