{% extends 'base.html' %}
{% comment %} {% block uprofile %}style="
width: 100%;
margin-top: 0px;
background: #c7c2c2;
"{% endblock uprofile %} {% endcomment %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% comment %} {% block searchpage %}active{% endblock searchpage %} {% endcomment %}
{% block main %}

<main id="main">
    <!-- ======= Tabs Section ======= -->

    <section id="user-profile-events" class="user-profile-events ">

        <div class="container" data-aos="fade-up">

            <div class="row userpf">
                <div class="col-lg-3 col-md-3 col-12 div">
                    <div class="user-info">
                        <div class="profile-img">
                            <img src="{% static 'img/im1.png' %}"alt="">
                            <a href=""><i class='bx bx-camera'></i></a>

                        </div>
                       
                        <div class="profile-info">
                            <h3>Name:</h3>
                            <p>Cristiano Ronaldo</p>
                            <h3>Age:</h3>
                            <p>36 yrs</p>
                            <h3>Weight:</h3>
                            <p>170 lbs</p>
                            <h3>Competition Style:</h3>
                            <p>Football</p>
                            <h3>Competition Level:</h3>
                            <p>Professional</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4  col-12 div">
                    <div class="signed-event">
                        <div class="section-title">
                            <h3>Signed Up Events</h3>
                        </div>
                        <div class="overflowscroll">
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6  ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6  ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 div">
                    <div class="recomend-events">

                        <div class="section-title">
                            <h3>Recommendations</h3>
                        </div>
                        <div class="overflowscroll">

                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="events-box">
                                <div class="row ">

                                    <div class=" col-lg-6 col-md-6 col-6 ">
                                        <div class="events-box-img ">
                                            <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/teaser/s3/2021-11/121121-ufc-269-oliveira-vs-poirier-sg-hero.jpg"
                                                alt="">


                                        </div>
                                    </div>
                                    <div class=" col-lg-6 col-md-6 col-6 event-div ">
                                        <div class="events-box-info">

                                            <h2>KOFXY Program</h2>
                                            <p>12th Nov, 2021</p>
                                            <p>02:30 pm</p>
                                            <h3>Cristiano Vs. Braun</h3>
                                        </div>


                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Tabs Section -->
    <section id="trending" class="trending" style="padding-top: 0px;">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Signed Up Matrices</h2>
            </div>
            {% comment %} <div class="event-filter justify-content-end d-flex">
                <h2>Sort By:</h2>
                <select id="event-ddl" class="event-ddl" name="event-ddl">
                    <option value="Newest">Newest</option>
                    <option value="Upcoming">Upcoming</option>
                    <option value="Past">Past</option>
                </select>
            </div> {% endcomment %}
            {% comment %} <ul class="nav d-flex">
                <li class="nav-item  ">
                    <a class="tablink active show" data-bs-toggle="tab" data-bs-target="#tab-1">

                        <h4 class="d-lg-block">Upcoming</h4>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class=" tablink" data-bs-toggle="tab" data-bs-target="#tab-2">

                        <h4 class="d-lg-block ">Past</h4>
                    </a>
                </li>

            </ul> {% endcomment %}
            <div class="row">


                <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <img
                                    src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                <a href="">
                                    <h3>Highlights</h3>
                                </a>
                                <p>Highlights: Chris Galess gets jaw</p>
                                <p>dropping first win....</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <img
                                    src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                <a href="">
                                    <h3>Interview</h3>
                                </a>
                                <p>Interview of Most Trending at</p>
                                <p>this weekend....</p>
                            </div>
                        </div>

                    </div>

                </div>
                {% comment %} <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box ">
                                <img
                                    src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                <a href="">
                                    <h3>Results</h3>
                                </a>
                                <p>The Fight Finder 234: Usman Vs. Adam</p>
                                <p>Fight Results</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box ">
                                <img
                                    src="https://dmxg5wxfqgb4u.cloudfront.net/styles/card/s3/2021-08/080721-Derrick-Lewis-1055767018.jpg?h=e5aec6c8&amp;itok=eZwroE7F">
                                <a href="">
                                    <h3>Results</h3>
                                </a>
                                <p>The Fight Finder 234: Usman Vs. Adam</p>
                                <p>Fight Results</p>
                            </div>
                        </div>

                    </div>

                </div> {% endcomment %}





            </div>

        </div>
    </section><!-- End Trending Section -->




</main><!-- End #main -->
{% endblock main %}